{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>{{ articls.Title }}</h2>
    <div class="metadata">Ecrit le {{ articls.createdAt | date }} à {{ articls.createdAt | date ('H:i')}}dans la categorie {{ articls.title }}</div>
    <div class="content">
        <img src="{{ articls.image }}" alt="">
       {{ articls.content | raw }}
    </div>
</article>

    {# Mise en relation article commentaire #}
    <section id="commentaires">
        <h1>{{ articls.comments | length }} Commentaires : </h1>
        {% for comment in articls.comments  %}
        <div class ="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }}(<small>{{ comment.createdAt | date ('d/m/Y è H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}

                </div>
            </div>
        </div>

{% endfor %}

        {%if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr': {'placeholder' : "Votre nom"}})}}
        {{ form_row(commentForm.content, {'attr': {'placeholder' : "Vôtre commentaire"}}) }}
        <button type="submit" class="btn btn-success">Commenter </button>
        {{ form_end(commentForm) }}

        {% else %}
        <h2>Vous ne pouvez pas commenté sans etre connecté</h2>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
           {% endif %}
    </section>
{% endblock %}